
<%= render "layouts/messages", entity: user, entity_name: "User" %>

<%= form_with model: user do |form| %>

  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= form.label :name, { class: "form-label"} %>
        <%= form.text_field :name, { class: "form-control", placeholder: "Name" } %>
      </div>

      <div class="mb-3">
        <%= form.label :email, { class: "form-label"} %>
        <%= form.text_field :email, { class: "form-control", placeholder: "Email" } %>
      </div>

      <div class="mb-3">
        <%= form.label :password, { class: "form-label"} %>
        <%= form.password_field :password, { class: "form-control", placeholder: "password" } %>
      </div>

      <div class="mb-3">
        <%= image_tag user.displayed_image, loading: "lazy", class: "img-fluid img-thumbnail profile-image" %>
        <%= form.file_field :image, { class: "form-control"} %>
      </div>

      <%= form.submit I18n.t("signup"), class: "btn btn-primary" %>

    </div>
  </div>
<% end %>