<%= render "layouts/messages", entity: @user, entity_name: "User" %>

<p style="color: green"><%= notice %></p>

<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

</div>
