<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">PET CARE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= about_path %>">About <span class="sr-only">(current)</span></a>
      </li>
      <% if logged_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="<%= pets_path %>">Pets <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Appointments <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Vaccines <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Medications <span class="sr-only">(current)</span></a>
        </li>
      <% end %>
    </ul>

    <% if not logged_in? %>
      <div>
        <%= button_to 'Sign up', signup_path, method: :get, class: "btn btn-outline-success my-2 my-sm-0 mr-1" %>
      </div>
      <div>
        <%= button_to 'Sign in', login_path, method: :get, class: "btn btn-outline-success my-2 my-sm-0" %>
      </div>
    <% else %>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= button_to 'Account', account_url, class: "dropdown-item" %>
          <%= button_to 'Logout', login_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
  <% end %>
  </div>
</nav>