<!DOCTYPE html>
<html>
  <head>
    <title>PetCare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="root">

    <%= render 'layouts/header' %>

    <div class="ui container content">
      <%= yield %>
    </div>


    <%= render 'layouts/footer' %>

  </body>

</html>
