
<div class="page-login">
  <div class="ui centered grid container">
    <div class="nine wide column">

      <%= render "layouts/errors", entity: nil, entity_name: "User" %>

      <div class="ui fluid card">
        <div class="content">
          <%= form_with scope: :session, url: login_path, class: "ui form" do |form| %>
            <div class="field">
              <%= form.label :email, { class: "form-label"} %>
              <%= form.text_field :email, { class: "form-control", placeholder: "Email" } %>
            </div>
            <div class="field">
              <%= form.label :password, { class: "form-label"} %>
              <%= form.password_field :password, { class: "form-control", placeholder: "Password" } %>
            </div>
            <%= form.submit "Log in", class: "ui primary button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>