
<%= render "layouts/messages", entity: @pet, entity_name: "Pet" %>

<%= form_with(model: @pet) do |form| %>
  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= form.label :name, { class: "form-label"} %>
        <%= form.text_field :name, { class: "form-control", placeholder: "Name" } %>
      </div>

      <div class="mb-3">
        <%= form.label :birthday, { class: "form-label"} %>
        <%= form.text_field :birthday, { class: "form-control", placeholder: "Birthday" } %>
      </div>

      <%= form.submit "Submit", class: "btn btn-primary" %>

    </div>
  </div>
<% end %>